/* Btn Start
================*/
.btn {
    padding: 10px 25px;

    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
}
.btn.btn--white {
    color: #fff;
    border: 2px solid #fff;
    transition: border, background .2s linear;
}

.btn.btn--white:hover {
    border: 2px solid #ff8b38;
    background: #ff8b38;
}

/* Btn End
================*/
